<% content_for :container do %>
  <h2>Step 2: <br />Input Your Course Info</h2>
  <div id="account_form">
    <%= error_messages_for :user %><br/>
      <% form_for :alumni, :url => alumnis_path do |f| -%>
          <%= label_tag 'Course' %>
          <%= f.select :course_id, @courses.collect {|c| [c.name,c.id] }, {:class=>"registration"} %>
          <%= label_tag 'University' %>
          <%= f.select :university_id, @universities.collect {|u| [u.name,u.id] }, {:class=>"registration"} %>
          <%= label_tag 'Years' %>
          <%= f.select :year,(1900..2009).to_a.reverse, {:class=>"registration"} %><br/>
          <%= submit_tag 'Save', {:class=>"button"} %>
      <% end -%>
  </div>
<% end -%>